@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: subpixel-antialiased;
}

body, input, select, button, textarea {
  font-family: "Roboto";
  fontWeight: 400;
}

